<% include ./shared/header %>
<header>
  <h1>Ntalk</h1>
  <h4>Ohh noooo fuuuu! :(</h4>
</header>

<p>
  See more details to error:
  <br>
  <%- error.message %>
</p>

<hr>

<p>
  Back to
  <a href="/">home page?</a>
  :)
</p>

<% include ./shared/footer %>