%h2 Nosso workshop
.user
  %input{class: 'user_id'}
  %button{class: 'get_user'} Buscar usuario
  
.form
  %label{ for: 'name' } nome
  %input{ class: 'name', value: '' }
  
  %label{ for: 'email' } email
  %input{ class: 'email', value: '' }
  
  %label{ for: 'name' } copia do nome
  %input{ class: 'copy', value: '' }
    
  %a{class: 'hide_input'} Ocultar input
  %a{class: 'show_input'} Mostrar input
  %a{class: 'copy_name_input'} Duplicar nome
  %a{class: 'copy_email_input'} Duplicar Email

  .message
    seu input foi ocultado

.galery
  = link_to image_tag('por_do_sol_thumb.jpg'), 'assets/por_do_sol.jpg', class: 'image'

- content_for :javascript do
  :javascript
    new User();
    new Galery();