<label>Nome:</label>
<input type="text" name="contact[name]" value="<%- contact.name %>">
<label>E-mail:</label>
<input type="text" name="contact[email]" value="<%- contact.email %>">
<button type="submit">save</button>