<% include ../shared/header %>
<header>
  <h2>Ntalk - Agenda de contatos</h2>
</header>

<section>
  <p>Bem-vindo <%- user.nome %></p>
</section>

<% include ../shared/exit %>
<% include ../shared/footer %>