<% include ../shared/header %>

<header>
  <h2>Ntalk - Contact create</h2>
</header>

<section>
  <form action='/contacts/' method="post">
  <% include ./_form %>
  </form>
</section>

<% include ../shared/exit %>
<% include ../shared/footer %>